html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(214,214,214,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6', GradientType=1 );
}

body {
    box-sizing: border-box;
}
.container {
    margin: 50px auto;
    width: 360px;
    height: 740px;
    border-radius: 30px;
    background: #ee6352;
    -webkit-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    -moz-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    overflow: hidden;
    border-top: 1px solid transparent;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 20px;
    color: white;
}
label {
    font-size: 26px;
   
}
.top i {
    font-size: 26px;
}
.body {
    width: 100%;
    height: 68%;
    margin-top: 40px;
    border-radius: 50px;
    background: white; 
    border-top: 1px solid transparent;
    color: #1c1c1c;  
}
img {
    width: 80%;
    height: auto;
    display: block;
    margin: 70px auto 30px auto;
    border-radius: 5px;
}
.song-title {
    text-align: center;
}
h4 {
    line-height: 10px;
}
.progress-bar { 
    margin-top: 50px;
    height: 10px;  /* Can be anything */
    position: relative;
    background: rgb(238, 238, 238);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.progress-bar > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #ee6352;
    position: relative;
    overflow: hidden;
}
.time {
    float: right;
    margin: 0 15px 0 0;
    font-size: 13px;
}
.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.controls i {
    font-size: 40px;
    color: white;
}
.controls .far {
    font-size: 60px;
}

